.w3-row
  .w3-bar.w3-black
    .w3-twothird
      %a.w3-bar-item.w3-button.w3-mobile.w3-hover-green{:href => "#"} Home
      %a.w3-bar-item.w3-button.w3-mobile.w3-hover-green{:href => "#"} Gallery
      %a.w3-bar-item.w3-button.w3-mobile.w3-hover-green{:href => "#"} Articles
    .w3-third
      %input.w3-bar-item.w3-input.w3-mobile{type: 'text', placeholder: 'Search'}
      %a.w3-bar-item.w3-button.w3-mobile.w3-hover-teal{:href => "#"} Go